*{

}

body {
    background-color: salmon;
    background-repeat: no-repeat;
    max-width: 200%;
    height: 100%;
    color:rgb(102, 0, 128)
}
#form2{

    position: relative;
    top: 200px;
    left: 300px;
    width: 350px;
}
#table{

    position: relative;
    left: 700px;
    bottom: -25px;
}